* {
  margin: 0;
  padding: 0;

  border: 1px solid black;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  text-align: center;
  font-size: 3.5rem;

  background-color: blue;
  border-bottom: 1px solid black;
}

button {
  padding: 1em 2em;
  font-size: 1.25rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  background-color: grey;
  color: white;
  transition: background-color 0.3s ease;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  margin: 1rem 0em 1rem 0em;
}

.displayResult {
  white-space: pre-line;
}
